.character{
  background: #2A313C;
  height: 695px;
  outline-style: hidden;
}
.character__content{
  display: flex;
  column-gap: 128px;
}
.character__left__img{
  width: 596px;
}
.character__right{
  padding: 89px 0;
  width: 596px;
  &__title {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    text-transform: capitalize;
    margin-top: 22px;
  }
  &__text {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(223, 223, 223, 0.8);
    margin: 38px 0 65px;
  }
  &__images {
    display: flex;
    column-gap: 30px;
    flex-wrap: nowrap;
  }
  &__img {
    cursor: pointer;
    transition: .5s;
    &:hover{
      transition: .5s;
      transform: scale(1.5);
      background: #3B3D46 center;
      padding: 11px;
      border-radius: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .character__left{
    display: none;
  }
  .character__content{
    column-gap: 0;
    justify-content: center;
  }
}
